body {margin:30px;}
#logo {width: 180px; margin:15px;}
#header {display: flex;}
h1{ }
label { display: block; margin-left: auto; font: 1rem 'Fira Sans', sans-serif;}
input, label {margin: .4rem 0;}
img{height: 600px;}
